*{
    margin:0px;
    padding:0px;
}

header{
    height:80px;
    width:100%;
    background-color: #1a1918;
    display:flex;
    justify-content: center;
}
.content_area{
  height:100%;
  width:88%;
  /* background-color: blanchedalmond; */
}

.header_content{
    display:flex;
    justify-content: space-between;
}

.logo{
    width:10%;
    height:100%;
    /* background-color: yellow; */
    display:flex;
    align-items: center;
}
.logo>img{
    width:96%;
    
}

nav{
    width:38%;
    height: 100%;
    /* background-color: red; */
    
}

nav>ul{
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul>li{
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    color:white;
    font-size: 16px;
    /* background-color: rosybrown; */
}
nav>ul>li>i{
    color:white;
    font-size: 20px;
    /* background-color: red; */
    
    
}
nav>ul>li:first-child{
    display:none;
}

.banner{
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #1a1918;
    display: flex;
    justify-content: center;
}

.banner_details{
    padding-top:2px;
    padding-left:5px;
    height:auto;
    width:50%;
    /* background-color: red; */
}

.banner_details>h1{
    padding-top:3px;
    font-family: 'Segoe UI';
    color:white;
    font-weight: bold;
    padding-bottom: 3px;
}

.banner_p1>p{
    color:#b5b5b5;
    font-family: 'Segoe UI';
    font-weight:500;
    padding-top:6px;
    padding-bottom: 8px;
   
}

.banner_details>p{
    padding-top:7px;
    padding-bottom: 7px;
    font-family: 'Segoe UI';
    font-weight:500;
    color:white;
    display:flex;
}
.banner_details>p>i{
    font-size:20px;
}

.banner_details>p>span{
    margin-left: 10px;
}

.banner_button{
    margin-top: 20px;
}
.banner_button>button{
    padding:10px 50px 10px 50px;
    text-transform: uppercase;
    border:none;
    outline: none;
    border-radius: 3px;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor:pointer;
}
.banner_button>button:first-child{
    background-color: #ff7300;
    color:white;
}

.banner_img{
    height:380px;
    width:50%;
    /* background-color: red; */
}

.banner_area{
    display:flex;
}

.banner_img>img{
    width:100%;
    border-radius: 3px;
}

/* css for why section  */

.why{
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    
}

.why_parent{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-template-rows: 150px 500px;
    column-gap: calc(10%/5);
    row-gap: 30px;

}

.why_box{
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(245, 238, 238);
    box-shadow: 0px 2px 3px gray;
}
.why_box_child{
    padding:20px;
}

.content_img{
    
    grid-column: 1/4;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
}

.content_img>img{
    width:75%;
}

a{
    color:#ff7300;
    text-decoration: none;
    cursor:pointer;
}

.content_para{
    grid-column: 4/7;
    /* background-color: lightpink; */
    display: flex;
    align-items: center;
}

.content_para>div{
    /* background-color: lightseagreen; */
    width:84%;
   
   
}
.content_para>div>h1{
    font-weight: 500;
    font-family: 'Segoe UI';
}

.content_para>div>p{
    padding-top:8px;
    padding-bottom: 8px;
    font-weight: 500;
    font-family: 'Segoe UI';
    
}

/* css for section  */
.section{
    background-color: black;
    padding: 30px 20% 30px 20%;
    color:white;
}

.section>h1{
padding-bottom:10px;
font-family: 'Segoe UI';
}

.section>p{
    padding-bottom:20px;
font-family: 'Segoe UI';
}

.section>button{
    padding: 10px 30px 10px 30px;
    font-family: 'Segoe UI';
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
}

/* css for job section  */
.job_section{
    padding-top:30px;
    padding-bottom: 30px;
    /* background-color: lightskyblue; */
    text-align: center;
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job_content{
    margin-top:30px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 160px 160px;
    /* background-color: maroon; */
    column-gap: calc(10%/2);
    row-gap: 20px;
}

.job{
    width:100%;
    height:150px;
    background-color: white;
    border: 1px solid rgb(248, 248, 248);
    box-shadow: 0px 2px 2px gray;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.salary{
    width:25%;
    /* background-color: mediumblue; */
}

.salary>p{
    background-color: #fff4eb;
    color:#bd5500;
    font-size: 14px;
    font-weight: 500;
}

.job_details{
    width:60%;
    /* background-color: rgb(38, 214, 76); */
    text-align: left;
}
.job_details>p:first-child{
    font-weight: bold;
    
}
.job_details>p:nth-child(2){
    color:gray;
}
.job_details>p:nth-child(3){
    font-weight: 480;
}

/* css for certificate sections  */

.certificate{
    padding-top:30px;
    padding-bottom:30px;
    background: linear-gradient(.94turn,#ffa74f -37.49%,rgba(176,100,148,.22) 48.05%,hsla(0,0%,76.9%,0) 114.11%);
    display: flex;
    justify-content: center;
    
}

.certi-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.certi_img{
    
    width:45%;
    /* background-color: green; */
}
.certi_img>img{
    width:100%;
}

.certi_details{
    
    width:45%;
    /* background-color: green; */
    display:flex;
    align-items: center;
}

.certi_details>div{
   font-family: 'Segoe UI';
   
}

.certi_details>div>p:nth-of-type(2){
    font-weight: 500;
}

/* css for programs  */

.program{
    background: linear-gradient(.94turn,#ffa74f -37.49%,rgba(176,100,148,.22) 48.05%,hsla(0,0%,76.9%,0) 114.11%);
    padding:30px 0 30px 0;
    display: flex;
    justify-content: center;
}

.program_content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.essential{
    padding:20px 20px 20px 20px;
    background-color: white;
    width:45%;
    font-family: 'Segoe UI';
    border-radius: 10px;
}
.essential>h1,p{
    padding-bottom:10px;
}

.essential>p:nth-of-type(1){
    color:gray;
    font-weight: 500;
}

.essential>div{
padding-top:20px;
}

.essential button{
    padding:10px 50px 10px 50px;
    text-transform: uppercase;
    border:none;
    outline: none;
    border-radius: 3px;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor:pointer;
    background-color: rgb(218, 218, 218);
}

.essential>div>button:nth-of-type(2){
    color:#bd5500;
    background-color:#fff4eb;
}

.certificate{
    padding-top:30px;
    padding-bottom:30px;
    background: linear-gradient(.94turn,#ffa74f -37.49%,rgba(176,100,148,.22) 48.05%,hsla(0,0%,76.9%,0) 114.11%);
    display: flex;
    justify-content: center;
    
}

.certi-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.certi_img{
    
    width:45%;
    /* background-color: green; */
}
.certi_img>img{
    width:100%;
}

.certi_details{
    
    width:45%;
    /* background-color: green; */
    display:flex;
    align-items: center;
}

.certi_details>div{
   font-family: 'Segoe UI';
   
}

.certi_details>div>p:nth-of-type(2){
    font-weight: 500;
}


.pgp{
    padding:20px 20px 20px 20px;
    background-color: black;
    width:45%;
    color:white;
    font-family: 'Segoe UI';
    border-radius: 10px;
}

.pgp>h1,p{
    padding-bottom: 10px;
}

.pgp>p:nth-of-type(1){
    color:gray;
    font-weight: 500;
}

.pgp>div{
    padding-top:20px;
}

.pgp>div>button:nth-of-type(2){
    color:#bd5500;
    background-color:#fff4eb;
}

.pgp button{
    padding:10px 50px 10px 50px;
    text-transform: uppercase;
    border:none;
    outline: none;
    border-radius: 3px;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor:pointer;
    background-color: rgb(218, 218, 218);
}






@media screen and (max-width:500px){
   .header_content{
       flex-direction: column;
       height:auto;
       align-items: left;
       overflow: hidden;
   }
   

   .logo{
       
       width:38%;
       display: flex;
       align-items: center;
       justify-content: flex-start;
       height:80px;
       position:absolute;
       /* background-color: blue; */
       
   }
   .logo>img{
       text-align:center;
       
   }
   nav{
       height:80px;
       width:100%;
       /* background-color: white; */
       flex-direction: column;
       
   }

   nav:hover{
       height:auto;
   }
   nav>ul{
       height:100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: white; */

   }
   
   nav>ul>li{
       width:100%;
       /* margin-top: 50px; */
       /* height:80px; */
       /* background-color: white; */
   }

   nav>ul>li:first-child{
       height:80px;
       display: flex ;
       justify-content: flex-end;
       align-items: center;
       
   }
   nav>ul>li>div{
       height:80px;
       display:flex;
       justify-content: center;
       align-items: center;

   }
   .banner{
       height:auto;
   }

   .banner_area{
       width:100%;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
   }

   .banner_details{
    width:80%;
   
   }
   .banner_details>h1{
       width:100%;
       text-align: center;
   }
   .banner_details>p{
       text-align: left;
   }
   .banner_p1>p{
       text-align: center;
       
   }
   .banner_button{
     height:100%;
    
   }
   .banner_button>button{
       width:100%;
       text-align: center;
       margin-top: 10px;
       margin-bottom: 10px;
       
       
   }
   .banner_img{
       display:none;
   }

   .why{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height:auto;
   }

   .why_parent{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 180px 180px 180px;
    column-gap: calc(10%/2);
    
   }

   .content_img{
       flex-direction: column;
       grid-column: 1/3;
       height:auto;
   }
   .content_img>img{
       width:100%;
       height:auto;
   }

   .content_para{
    
    height:auto;
    grid-column: 1/3;
    align-items: center;
    justify-content: center;
    
   }
   .content_para>div>h1{
       text-align: center;
   }
   .content_para>div>p:nth-child(2){
    text-align: center;
}


   .section>h1{
       text-align: center;
   }
   

   /* .content-para>div>h1{
      text-align: center;

   } */

   /* css for job  */
   .job_section{
       flex-direction:column;
       justify-content: center;
       align-items: center;
   }
   .job_section>p{
       text-align: center;
   }
   
   .job_content{
       
       display: grid;
       grid-template-columns: 45%;
       grid-template-columns: 160px   ;
       
      
   }
   .job{
       width:100%;
       grid-column: 1/3;
   }

   .certi-content{
       flex-direction: column;
   }
   
   .certi_img{
       width:100%;
   }

   .certi_details{
       padding:10px;
       width:100%;
   }
   .certi_details>div>h1{
       padding-bottom:10px;
   }

   .certi_details>div>h1,p:nth-of-type(1){
       text-align: center;
   }

   .certi_details>div>p{
       padding-bottom:10px;
   }

   /* css for programs  */
   .program{
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .program_content{
       flex-direction: column;
       
   }

   .essential{
       width:100%;
   }

   .essential>div>button:nth-of-type(2){
       margin-top: 10px;
       
   }

   .pgp{
    width:100%;
   }

   .pgp>div>button:nth-of-type(2){
    margin-top: 10px;
   }
}


